@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 176, 116, 74;
    --background-end-rgb: 176, 116, 74;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sum-text {
  width: 6rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 3px solid rgb(63, 35, 14);
  background-color: rgba(0, 0, 0, 0.345);
  border-radius: 0.5rem;
}

.sum-wrong {
  width: 6rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 3px solid red;
  background-color: rgba(74, 0, 0, 0.345);
  border-radius: 0.5rem;
}

.sum-correct {
  width: 6rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 3px solid green;
  background-color: rgba(0, 74, 0, 0.345);
  border-radius: 0.5rem;
}

.sum-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: fit-content;
  height: fit-content;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem 1rem;
  margin: 3rem;
  border-radius: 0.5rem;
  background-color: rgb(88, 43, 11);
  color: white;
  border: 3px solid rgb(63, 35, 14);
  cursor: pointer;
}

.win-box {
  width: fit-content;
  text-align: center;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 3px solid green;
  background-color: rgba(0, 74, 0, 0.345);
  border-radius: 0.5rem;
}
